<div class="w3-container w3-green w3-cell-row w3-display-bottommiddle " style="height:50px; ">
    <div class="w3-container w3-padding-16 w3-cell w3-cell-bottom">&copy; 2022 Styling is made with w3.css</div> <div class="w3-container w3-padding-16 w3-cell  w3-cell-bottom w3-right-align"><a style="justify-content:right;" href="https://www.w3schools.com/w3css/default.asp">https://www.w3schools.com</a></div>
</div>