<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>My App | <%= title %></title>
    <style>
        *{
            padding:0;
            margin:0;
            box-sizing: border-box;
        }
        body{
            min-height:100vh;
            position:relative;
           
        }
      
         h2{
            user-select: none;
            cursor:pointer;
            text-align: left;
        }
        .retracted{
            height:80px;
            overflow:hidden;
           
            padding:0;
        }
        .hero{
            max-width:1150px; 
            height:87vh; 
            padding-bottom:100px;
            overflow:auto;
            overflow: overlay;
        }
        
    </style>
</head>


