<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>


    <div class="w3-row w3-auto w3-border hero">

        <h1 class="w3-padding">Extras</h1>


        
    </div>

        <%- include('./partials/footer.ejs') %>    
    </body>  
</html>