<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>


    <div class="w3-row w3-auto w3-border " style="min-height:85vh;">

        <h1 class="w3-padding">Extras</h1>

        <div class="w3-bar w3-green">
            <button class="w3-bar-item w3-button" onclick="openCity('ejs')">Ejs</button>
            <button class="w3-bar-item w3-button" onclick="openCity('css')">Css Framework</button>
          </div>
          
          <div id="ejs" class="w3-container city">
            <h2>Ejs</h2>
            <p>London is the capital city of England.</p>
          </div>
          
          <div id="css" class="w3-container city" style="display:none">
            <h2>Css</h2>
            <p>Paris is the capital of France.</p> 
          </div>
     
          <script>
          function openCity(cityName) {
            var i;
            var x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";  
            }
            document.getElementById(cityName).style.display = "block";  
          }
          </script>
        
    </div>

        <%- include('./partials/footer.ejs') %>    
    </body>  
</html>