<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>


    <div class="w3-container w3-auto w3-border hero">

        <h1 class="w3-padding">Extras</h1>
        <div class="w3-panel w3-card w3-light-grey w3-margin">
            <h2>EJS(Nothing yet)</h2>
        </div>

        
    </div>

        <%- include('./partials/footer.ejs') %>   
        <script src="scripts.js"></script> 
    </body>  
</html>