
        <!doctype html>
        <html lang="en">
            <%- include('./partials/head.ejs') %>
            <body >
                <%- include('./partials/nav.ejs') %>
                <div class="w3-container  w3-auto w3-mobile hero">
                   
                    <div class="w3-auto w3-container w3-section w3-center w3-display-middle" >
                      <h1 class="w3-cursive ">Mandatory Assignment</h1>
                          <p>Here i will try my best, to explain and include as much as possible of what i know and remember</p>
                  </div>
                </div> 
                <%- include('./partials/footer.ejs') %>      
            </body>
        </html>