<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="w3-container w3-border w3-auto">
            <div class="w3-container w3-section">
                <h1>Npm</h1>
                <p>Npm is the worldes largest Software Library</p>
                <p>Npm is used to install and manage installed packages</p>
            </div>
            <div class="w3-panel w3-card w3-light-grey w3-margin">
                <h2>How to use npm</h2>
                <p>Npm comes with nodejs, so if you want to use npm, you will have to install nodejs</p>
                <span class="w3-cursive">Download and install nodejs -then from any terminal</span>
                <p>if you want to install a package</p>
                <div class="w3-code"><code>npm install package-name</code></div>
                <p>if you want to uninstall a package</p>
                <div class="w3-code"><code>npm uninstall package-name</code></div>
                <p>if you want to install all dependencies in project</p>
                <div class="w3-code"><code>npm install</code></div>
                <p>if you want to create a nodejs project</p>
                <div class="w3-code"><code>npm init -y</code></div>
            </div>
            
        </div>

        <%- include('./partials/footer.ejs') %>    
    </body>
</html>