
        <!doctype html>
        <html lang="en">
            <%- include('../partials/head.ejs') %>
            <body >
                <%- include('../partials/nav.ejs') %>
                <div class="w3-container  w3-auto w3-mobile" style="padding:0; max-width:1150px; min-height:100vh;">
                   
                    <div class="w3-auto w3-container w3-section w3-center w3-display-middle" >
                      <h1 class="w3-cursive ">User Mangement</h1>
                          <p></p>
                  </div>
                </div> 
                <%- include('../partials/footer.ejs') %>      
            </body>
        </html>